EthMonitorApp/Service References/MonitorService/MonitorServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertMiner">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="minerInfo" type="tns:MinerInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MinerInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Wallet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Workers" type="tns:ArrayOfWorker" />
          <s:element minOccurs="0" maxOccurs="1" name="Stats" type="tns:MinerStatistics" />
          <s:element minOccurs="0" maxOccurs="1" name="History" type="tns:ArrayOfMinerHistory" />
          <s:element minOccurs="0" maxOccurs="1" name="Payouts" type="tns:ArrayOfMinerPayouts" />
          <s:element minOccurs="0" maxOccurs="1" name="Rounds" type="tns:ArrayOfMinerRounds" />
          <s:element minOccurs="0" maxOccurs="1" name="Settings" type="tns:MinerSettings" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="StatisticsDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWorker">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Worker" nillable="true" type="tns:Worker" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Worker">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RunningTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EthereumStats" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GpuTemperature" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pool" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DcrInfo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MinerStatistics">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="time" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="lastSeen" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="reportedHashrate" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="currentHashrate" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="validShares" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="invalidShares" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="staleShares" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="averageHashrate" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="activeWorkers" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="unpaid" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="unconfirmed" />
          <s:element minOccurs="1" maxOccurs="1" name="coinsPerMin" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="usdPerMin" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="btcPerMin" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMinerHistory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MinerHistory" nillable="true" type="tns:MinerHistory" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MinerHistory">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="time" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="reportedHashrate" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="currentHashrate" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="validShares" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="invalidShares" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="staleShares" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="averageHashrate" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="activeWorkers" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMinerPayouts">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MinerPayouts" nillable="true" type="tns:MinerPayouts" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MinerPayouts">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="start" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="end" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="amount" />
          <s:element minOccurs="0" maxOccurs="1" name="txHash" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="paidOn" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMinerRounds">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MinerRounds" nillable="true" type="tns:MinerRounds" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MinerRounds">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="block" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="amount" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MinerSettings">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="monitor" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="minPayout" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertMinerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertMinerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertMinerSoapIn">
    <wsdl:part name="parameters" element="tns:InsertMiner" />
  </wsdl:message>
  <wsdl:message name="InsertMinerSoapOut">
    <wsdl:part name="parameters" element="tns:InsertMinerResponse" />
  </wsdl:message>
  <wsdl:portType name="MonitorServicesSoap">
    <wsdl:operation name="InsertMiner">
      <wsdl:input message="tns:InsertMinerSoapIn" />
      <wsdl:output message="tns:InsertMinerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MonitorServicesSoap" type="tns:MonitorServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertMiner">
      <soap:operation soapAction="http://tempuri.org/InsertMiner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MonitorServicesSoap12" type="tns:MonitorServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertMiner">
      <soap12:operation soapAction="http://tempuri.org/InsertMiner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MonitorServices">
    <wsdl:port name="MonitorServicesSoap" binding="tns:MonitorServicesSoap">
      <soap:address location="http://www.ethmonitor.net/Webservices/MonitorServices.asmx" />
    </wsdl:port>
    <wsdl:port name="MonitorServicesSoap12" binding="tns:MonitorServicesSoap12">
      <soap12:address location="http://www.ethmonitor.net/Webservices/MonitorServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>